@import "./base.css";

@font-face {
  font-family: "Patrick";
  src: local("Patrick"), url(./fonts/PatrickHand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "ManropeExtra";
  src: local("Manrope"), url(./fonts/Manrope-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "ManropeSemi";
  src: local("Manrope"), url(./fonts/Manrope-SemiBold.ttf) format("truetype");
}
.view {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--vt-c-white-soft);
}

.wrapper {
  padding-bottom: 5vh;
  margin: 0 auto;
  height: calc(100vh - 58px);
  overflow-y: hidden;
}
.page {
  height: 100%;
  overflow-y: scroll;
}
.title {
  color: var(--vt-c-black);
  text-align: center;
  font-size: 2rem;
  font-family: "ManropeExtra";
}
.title-small {
  color: var(--vt-c-black);
  text-align: center;
  font-size: 1.5rem;
  font-family: "ManropeExtra";
}
.subtitle {
  margin-top: -2vh;
  margin-left: 30vw;
  font-size: 1.5rem;
  font-family: "Patrick";
}

.text {
  font-family: "ManropeSemi";
  font-size: 0.8rem;
}

.text-large {
  font-family: "ManropeSemi";
  font-size: 1rem;
}

.notes {
  font-family: "Patrick";
  font-size: 1rem;
  line-height: normal;
}

.row-margin {
  margin: 2vh auto;
}

.custom-button {
  float: right;
  color: var(--color-primary);
  background-color: transparent;
  border: 5px solid var(--color-primary);
  border-radius: 10px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Patrick";
}

.button {
  color: var(--color-dark);
  background-color: transparent;
  border: 0.25rem solid var(--color-dark);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Patrick";
}

.button:hover{
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.blur-background {
  backdrop-filter: blur(5px);
}

:root {
  --color-primary: #3aa655;
  --color-secondary: #fed85d;
  --color-tertiary: #ed0a3f;
  --color-dark: #333;
  --color-mute: #7d7d7d;
  --color-soft: #eee;
  --color-white: #fff;
}

@media (max-width: 680px) {
  .title {
    max-width: 70vw;
  }
  .title-small {
    max-width: 90vw;
  }

  .content-wide{
    margin: 0 5vw;
  }

  .content {
    margin: 0 5vw;
  }

  .content-narrow {
    margin: 0 5vw;
  }
}

@media (min-width: 680px) {
  .title {
    margin: 2vh 0;
    font-size: calc(4rem / 1.5);
  }
  .title-small {
    margin: 0;
    margin-bottom: 1vh;
    font-size: calc(4rem / 1.5);
  }

  .subtitle {
    font-size: 0.5rem;
  }

  .text-large {
    font-size: 1rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .notes {
    font-size: 1rem;
  }

  .content-wide {
    width: 90vw;
  }

  .content {
    width: 60vw;
  }

  .content-narrow {
    width: 40vw;
  }
}

@media (min-width: 1024px) {
  .subtitle {
    font-size: 1.5rem;
  }

  .text-large {
    font-size: 1rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .notes {
    font-size: 1rem;
  }

  .content-wide {
    width: 90vw;
  }

  .content {
    width: 60vw;
  }

  .content-narrow {
    width: 50vw;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 4rem;
  }
  .title-small {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .text-large {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1rem;
  }

  .notes {
    font-size: 1.5rem;
  }

  .content-wide {
    width: 90vw;
  }

  .content {
    width: 50vw;
  }

  .content-narrow {
    width: 40vw;
  }
}
