@import "./base.css";

@font-face {
  font-family: "Patrick";
  src: local("Patrick"), url(./fonts/PatrickHand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "ManropeExtra";
  src: local("Manrope"), url(./fonts/Manrope-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "ManropeSemi";
  src: local("Manrope"), url(./fonts/Manrope-SemiBold.ttf) format("truetype");
}

.title {
  padding: 1vh 0 5vh 0;
  color: var(--vt-c-black);
  text-align: center;
  font-size: 4rem;
  font-family: "ManropeExtra";
}
.subtitle {
  margin-top: -50px;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Patrick";
}

.text {
  font-family: "ManropeSemi";
  font-size: 1rem;
}

.notes {
  font-family: "Patrick";
  font-size: large;
}

.custom-button {
  float: right;
  color: var(--color-primary);
  background-color: transparent;
  border: 5px solid var(--color-primary);
  border-radius: 10px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Patrick";
}

.blur-background {
  backdrop-filter: blur(5px);
}

:root {
  --color-primary: #3aa655;
  --color-secondary: #fed85d;
  --color-tertiary: #ed0a3f;
  --color-dark: #333;
  --color-mute: #7d7d7d;
  --color-soft: #eee;
  --color-white: #fff;
}

.content {
  margin: 0 5vw;
}

.content-narrow {
  margin: 0 5vw;
}

@media (max-width: 680px) {
  .title {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .content {
    width: 80vw;
  }
  .content-narrow {
    width: 60vw;
  }
}

@media (min-width: 1280px) {
  .content {
    width: 50vw;
  }
  .content-narrow {
    width: 30vw;
  }
}
