@import "./base.css";

@font-face {
  font-family: "Patrick";
  src: local("Patrick"), url(./fonts/PatrickHand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "ManropeExtra";
  src: local("Manrope"), url(./fonts/Manrope-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "ManropeSemi";
  src: local("Manrope"), url(./fonts/Manrope-SemiBold.ttf) format("truetype");
}

.title {
  margin: 30px 0;
  color: var(--color-background-inverted);
  text-align: center;
  font-size: xxx-large;
  font-family: "ManropeExtra";
}

.subtitle {
  margin-top: -30px;
  text-align: right;
  font-size: large;
  font-family: "Patrick";
}

.text {
  font-family: "ManropeSemi";
  font-size: medium;
}

.notes {
  font-family: "Patrick";
  font-size: large;
}

.custom-button {
  float: right;
  color: var(--color-primary);
  background-color: transparent;
  border: 5px solid var(--color-primary);
  border-radius: 10px;
  width: 20%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  font-family: "Patrick";
}

:root {
  --color-primary: #3aa655;
  --color-secondary: #fed85d;
  --color-tertiary: #ed0a3f;
  --color-dark: #333;
  --color-mute: #7d7d7d;
  --color-soft: #eee;
  --color-white: #fff;
}
